#********************************************************************
# Java Executable Properties
#********************************************************************
# Java Application
wrapper.java.command=java

# or define conditions for YAJSW searching for a JVM
# currently only valid for windows
#wrapper.java.command.minVersion=1.5
#wrapper.java.command.maxVersion=1.6
#wrapper.java.command.jreOnly=true
#wrapper.java.command.jdkOnly=true
#wrapper.java.command.preferJre=true
#wrapper.java.command.preferJdk=true
#wrapper.java.command.javaw=true

# copy java.exe to <tmp>/java_<customProcName>_nnnn.exe
wrapper.java.customProcName=java_vm_minikoala.exe

#********************************************************************
# working directory
#********************************************************************
wrapper.working.dir=C:\\NGA\\Code\\myservice\\target\\

#********************************************************************
# Application Account
#********************************************************************
#wrapper.app.account=.\\vbox
#wrapper.ntservice.account=.\\vbox
#wrapper.ntservice.password=GoodDog1
#wrapper.app.password=GoodDog1

#********************************************************************
# Application Properties
#********************************************************************

wrapper.java.app.jar=myservice-1.0.1.jar
wrapper.java.classpath.1=myservice-1.0.1.jar

#********************************************************************
# Java/Groovy Application Properties
#********************************************************************

# Application parameters.  Add parameters as needed starting from 1
# YAJSW: to specify the main class please use wrapper.java.app.mainclass=
wrapper.app.parameter.1=start

#********************************************************************
# Wrapper Windows Console Properties
#********************************************************************
# Title to use when running as a console
wrapper.console.title=VM MiniKoala

#********************************************************************
# Wrapper Windows Service and Posix Daemon Properties
#********************************************************************
# WARNING - Do not modify any of these properties when an application
#  using this configuration file has been installed as a service.
#  Please uninstall the service before modifying this section.  The
#  service can then be reinstalled.

# Name of the service
wrapper.ntservice.name=VM_MiniKoala

# Display name of the service
wrapper.ntservice.displayname=VM MiniKoala

# Description of the service
wrapper.ntservice.description=VirtualBox VM: MiniKoala

# Mode in which the service is installed.  AUTO_START or DEMAND_START
# YAJSW: currently not implemented -> defaults to MANUAL
wrapper.ntservice.starttype=AUTO_START

# Allow the service to interact with the desktop
wrapper.ntservice.interactive=true

#********************************************************************
# Wrapper System Tray Properties
#********************************************************************
# enable system tray
wrapper.tray = true
# tray icon file to use
wrapper.tray.icon=C:/NGA/Code/vbox/src/VBox/Frontends/VirtualBox/images/OSE/VirtualBox_cube_42px.png

#********************************************************************
# Exit Code Properties
# SHUTDOWN on non zero exit code
#********************************************************************
wrapper.on_exit.0=SHUTDOWN
wrapper.on_exit.1=SHUTDOWN
wrapper.exit_on_main_terminate = 0
wrapper.exit_on_main_exception=0
wrapper.exit_on_main_terminate=0
wrapper.on_exit.default=SHUTDOWN
wrapper.stop.conf=conf/myservice.stop.config

#********************************************************************
# Trigger actions on console output
#********************************************************************
# On Exception show message in system tray
wrapper.filter.trigger.0=Exception
wrapper.filter.script.0=scripts\/trayMessage.gv
wrapper.filter.script.0.args=Exception
