<configuration>
	<contextName>myAppName</contextName>
	<property resource="myservice.properties" />

	<appender name="HTML_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${activeHTMLDestination}</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${archiveHTMLDestination}</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.html.HTMLLayout">
			<Pattern>%date%thread%level%msg</Pattern>
		</layout>
	</appender>

	<appender name="LOG_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${activeLogDestination}</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${archiveLogDestination}</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%-30(%d [%t]) %contextName %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%-5level %msg%n
			</Pattern>
		</layout>
	</appender>

	<root level="debug">
		<appender-ref ref="LOG_FILE" />
		<appender-ref ref="HTML_FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>